{% extends 'user/settings/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Change Avatar{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='jcrop/css/jquery.Jcrop.min.css') }}">
{% endblock %}

{% block setting_content %}
    <div class="card w-100 bg-light">
        <h3 class="card-header">Change Avatar</h3>
        <div class="card-body">
            <!--
                使用Bootstrap-Flask提供的render_form()宏渲染表单时，如果表单内包含文件上传字段，
                Bootstrap-Flask会自动设置争取饿的enctype值。
            -->
            {{ render_form(upload_form, action=url_for('.upload_avatar')) }}
            <small class="text-muted">
                Your file's size must be less than 3MB, the allowed formats are png and jpg.
            </small>
        </div>
        <div class="card-body">
            <!--
                Flask-Avatars提供了avatars.crop_box()和avatars.preview_box()方法，分别渲染裁剪窗口
                和可选的预览窗口。这两个方法必须传入两个参数，分别是获取头像的视图端点和头像原图的文件名。
            -->
            {{ avatars.crop_box('main.get_avatar', current_user.avatar_raw) }}
            {{ avatars.preview_box('main.get_avatar', current_user.avatar_raw) }}
        </div>
        <div class="card-body">
            {{ render_form(crop_form, action=url_for('.crop_avatar')) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='jcrop/js/jquery.Jcrop.min.js') }}"></script>
    {{ avatars.init_jcrop() }}
{% endblock %}