{% from 'bootstrap/nav.html' import render_nav_item %}

<div class="row">
    <div class="col-md-3">
        <img class="img-fluid rounded" src="{{ url_for('main.get_avatar', filename=user.avatar_l) }}">
    </div>
    <div class="col-md-9">
        <h1>
            {{ user.name }}
            <small class="text-muted">{{ user.username }}</small>
        </h1>
        {% if user.bio %}
            <p>{{ user.bio }}</p>
        {% endif %}
        <p>
            {% if user.website %}
                <span class="oi oi-link-intact"></span>
                <a href="{{ user.website }}" target="_blink">{{ user.website | truncate(30) }}</a>
            {% endif %}
            {% if user.location %}
                <span class="oi oi-link-intact"></span>
                <a href="https://www.google.com/maps?q={{ user.location }}" target="_blank">
                    {{ user.location | truncate(30) }}
                </a>
                &nbsp;&nbsp;
            {% endif %}
            <span class="oi oi-calendar"></span>
            Joined {{ moment(user.member_since).format('LLL') }}
        </p>
    </div>
</div>
<div class="user-nav">
    <ul class="nav nav-tabs"> 
        <!--显示用户上传的照片-->
        {{ render_nav_item('user.index', 'Photo', user.photos | length, username=user.username) }}
        <!--展示用户收藏的照片-->
        {{ render_nav_item('user.show_collections', 'Collections', user.collections | length, username=username) }}
        <!--
            查看用户的关注者和正在关注信息，导航栏中显示数量标记。
            因为调用following和followers关系属性会返回查询对象，而不是记录列表，所以不能通过length过滤器获取数量，
            而是附加一个count()查询方法调用。
            同时，因为用户关注了自己，但用户却并不需要显示在列表中，所以用户的关注者/被关注者数量会比实际数量多1，所以需要将总数减去1
        -->
        {{ render_nav_item('user.show_following', 'Following', user.following.count() - 1, username=username) }}
        {{ render_nav_item('user.show_followers', 'Follower', user.followers.count() - 1, username=username) }}
    </ul>
</div>