{% from 'macros.html' import follow_area with context %}
{% from 'bootstrap/nav.html' import render_nav_item %}

<div class="row">
    <!--头像-->
    <div class="col-md-3">
        <a href="{% if current_user == user %}{{ url_for('.change_avatar') }}{% else %}#{% endif %}" title="Change avatar">
            <img class="img-fluid rounded" src="{{ url_for('main.get_avatar', filename=user.avatar_l) }}">
        </a>
    </div>
    <div class="col-md-9">
        <!--昵称、用户名-->
        <h1>
            {{ user.name }}
            <small class="text-muted">{{ user.username }}</small>
        </h1>
        <!--用户简介-->
        {% if user.bio %}
            <p>{{ user.bio }}</p>
        {% endif %}
        <!--用户网站-->
        <p>
            {% if user.website %}
                <span class="oi oi-link-intact"></span>
                <a href="{{ user.website }}" target="_blink">{{ user.website | truncate(30) }}</a>
            {% endif %}
        </p>
        <!--用户地址-->
        <p>            
            {% if user.location %}
                <span class="oi oi-link-intact"></span>
                <a href="https://www.google.com/maps?q={{ user.location }}" target="_blank">
                    {{ user.location | truncate(30) }}
                </a>
                &nbsp;&nbsp;
            {% endif %}
        </p>
        <!--用户注册时间-->
        <p>
            <span class="oi oi-calendar"></span>
            Joined {{ moment(user.member_since).format('LLL') }}
        </p>
        <div>
            {% if current_user!= user %}
                {% if current_user.can('MODERATE') %}
                    <!--锁定、解除锁定用户-->
                    {% if user.locked %}
                        <form class="inline" action="{{ url_for('admin.unlock_user', user_id=user.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" class="btn btn-secondary btn-sm" value="Unlock">
                        </form>
                    {% else %}
                        <form class="inline" action="{{ url_for('admin.lock_user', user_id=user.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" class="btn btn-warning btn-sm" value="Lock">
                        </form>
                    {% endif %}
                    <!--封禁、解除封禁用户-->
                    {% if user.active %}
                        <form class="inline" action="{{ url_for('admin.block_user', user_id=user.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" class="btn btn-warning btn-sm" value="Block">
                        </form>
                    {% else %}
                        <form class="inline" action="{{ url_for('admin.unblock_user', user_id=user.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="submit" class="btn btn-secondary btn-sm" value="Unblock">
                        </form>
                    {% endif %}
                    <a class="btn btn-light btn-sm" href="mailto:{{ user.email }}">Email</a>
                {% endif %}
                <!--管理员更新用户资料入口-->
                {% if current_user.is_admin %}
                    <a class="btn btn-warning btn-sm" href="{{ url_for('admin.edit_profile_admin', user_id=user.id) }}">
                        Edit Profile
                    </a>
                {% endif %}                
            {% endif %}
            <!--编辑资料-->
            <div class="float-right">
                {{ follow_area(user) }}
                {% if current_user.is_authenticated and user == current_user %}
                    <a class="btn btn-outline-primary btn-sm" href="{{ url_for('.edit_profile') }}">
                        Edit Profile
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="user-nav">
    <ul class="nav nav-tabs"> 
        <!--显示用户上传的照片-->
        {{ render_nav_item('user.index', 'Photo', user.photos | length, username=user.username) }}
        <!--展示用户收藏的照片-->
        {{ render_nav_item('user.show_collections', 'Collections', user.collections | length, username=user.username) }}
        <!--
            查看用户的关注者和正在关注信息，导航栏中显示数量标记。
            因为调用following和followers关系属性会返回查询对象，而不是记录列表，所以不能通过length过滤器获取数量，
            而是附加一个count()查询方法调用。
            同时，因为用户关注了自己，但用户却并不需要显示在列表中，所以用户的关注者/被关注者数量会比实际数量多1，所以需要将总数减去1
        -->
        {{ render_nav_item('user.show_following', 'Following', user.following.count() - 1, username=user.username) }}
        {{ render_nav_item('user.show_followers', 'Followers', user.followers.count() - 1, username=user.username) }}
    </ul>
</div>