{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import user_card with content %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="row-col-12">
            <!--判断follows的数量是否为1，为1的话说明被关注者为用户本身，不需要显示被关注用户列表-->
            {% if follows | length != 1 %}
                {% for follow in follow %}
                    <!--判断被关注者是否为用户本身，是的话不需要渲染用户卡片-->
                    {% if follow.followed != user %}
                        {{ user_card(user=follow.followed) }}
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="tip">
                    <h3>No followings.</h3>
                </div>
            {% endif %}
        </div>
    </div>
    {% if follows | length != 1 %}
        <div class="page-footer">
            {{ render_pagination(pagination) }}
        </div>
    {% endif %}
{% endblock %}